<!DOCTYPE html>
<head>
	<meta charset="utf-8">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<title>Titanic - D3JS</title>
</head>

<style>

	body {
		font: 10px sans-serif;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.invisible {
		display: none;
	}

	.dead  { opacity: 0.5; }
	.alive { opacity: 1; stroke: black; }

	.dead.mal {
		 fill: blue;
	 }
	.dead.female {
		fill: pink;
	}

	.alive.mal {
		fill-opacity: 1;
	}
	.alive.female {
		fill-opacity: 0;
	}

</style>
<body onload="onLoad()">
<script src="//d3js.org/d3.v3.min.js"></script>

<h4>Filter</h4>
<p>Sex : </p>
<select id="sex" onchange="onSexChange()">
	<option value=""></option>
	<option value="male">Male</option>
	<option value="female">Female</option>
</select>

<p>Survived : </p>
<select id="survived" onchange="onSurvivedChange()">
	<option value=""></option>
	<option value="0">Dead</option>
	<option value="1">Alive</option>
</select>

<h4>Data</h4>
<div id="d3"></div>
<script>

	function onLoad(){
        generateGraph();
	}

	function onSexChange(){
        sex = document.getElementById("sex").value;
        d3.selectAll("circle").remove();
        generateGraph();
	}

    function onSurvivedChange(){
        survived = document.getElementById("survived").value;
        d3.selectAll("circle").remove();
        generateGraph();
    }

	var sex = "";
    var survived = "";

    /**
	 * Création des marges du graph
     * @type {{top: number, right: number, bottom: number, left: number}}
     */
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    /**
	 * Création de l'axe X
     */
    var x = d3.scale.linear()
        .range([0, width]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    /**
	 * Création de l'axe Y
     */
    var y = d3.scale.linear()
        .range([height, 0]);

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var svg = d3.select("div").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    function generateGraph(){
        d3.tsv("../data/titanic.tsv", function(error, data) {
            if (error) throw error;

            data.forEach(function(d) {
                d.age = +d.age;
                d.fare = +d.fare;
            });

            x.domain(d3.extent(data, function(d) { return d.age; })).nice();
            y.domain(d3.extent(data, function(d) { return d.fare; })).nice();

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis)
                .append("text")
                .attr("class", "label")
                .attr("x", width)
                .attr("y", -5)
                .style("text-anchor", "end")
                .text("Age");

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                .attr("class", "label")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Prix");

            svg.selectAll(".dot")
                .data(data)
                .enter().append("circle")
                .filter(function(d) {
                    if (sex == ""){
                        if (survived == ""){
                            return d
						} else {
                            return d.survived == survived;
						}
                    } else {
                        if (survived == ""){
                            return d.sex == sex;
                        } else {
                            return d.survived == survived && d.sex == sex;
                        }
                    }
                })
                .attr("class",
                    function(d) {
                        if (isNaN(d.age) || isNaN(d.fare)){
                            return "invisible";
                        } else if (d.survived == "1"){
                            if (d.sex == "female"){
                                return "alive female";
                            } else {
                                return "alive mal";
                            }
                        } else {
                            if (d.sex == "female"){
                                return "dead female";
                            } else {
                                return "dead mal";
                            }
                        }
                    })
                .attr("r", 2,8)
                .attr("cx",
                    function(d) {
						if (!isNaN(d.age)){
							return x(d.age);
						}
                    }
                )
                .attr("cy",
                    function(d) {
                        if (!isNaN(d.fare)){
                            return y(d.fare);
                        }
                    }
                );

        });
	}



</script>
	</body>
</html>
